<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid ">
        <a routerLink="" class="navbar-brand">
            <img src="assets/divar-logo.png" width="40px" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto rtl">
                <li class="nav-item active"><a routerLink="" class="nav-link ">خانه</a></li>
                <li class="nav-item"><a routerLink="electronic-devices" class="nav-link">دیوار من</a></li>
                <li class="nav-item"><a routerLink="login" class="nav-link">ورود</a></li>
                <li class="nav-item"><a routerLink="register" class="nav-link">ثبت نام</a></li>
                <li class="nav-item"><a href="" class="nav-link">درباره ما</a></li>
            </ul>
        </div>
    </div>
</nav>